body {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: #3030c1;
  height: 100vh;
  margin-bottom: 55px;
}

.logo {
  padding: 60px 0 4px 130px;
}

.main {
  padding: 90px 0 130px 130px;
  background: top 70px right 130px no-repeat url(img/Student.svg);
}

.main__title {
  width: 48%;
  margin-bottom: 32px;
  color: #fff;
  font: bold 45px/55px gilroyextrabold, arial, helvetica, sans-serif;
}

.main__title_mob {
  display: none;
}

.main__subtitle_one {
  width: 28%;
  margin-bottom: 10px;
  color: #fc3;
  font: bold 30px/37px gilroyextrabold, arial, helvetica, sans-serif;
}

.main__subtitle_two {
  width: 38%;
  margin-top: 0;
  margin-bottom: 50px;
  color: #fff;
  font: 20px/23px gilroylight, arial, helvetica, sans-serif;
}

.main__button {
  font: bold 20px/24px montserratblack, arial, helvetica, sans-serif;
  color: #3030c1;
  background: #fc3;
  padding: 18px 25px 17px 24px;
  text-decoration: none;
  cursor: pointer;
}

.main__button:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.plan__title {
  font: bold 40px/49px gilroyextrabold, arial, helvetica, sans-serif;
  margin-bottom: 30px;
  text-align: center;
  color: #3a3a3a;
}

.plan__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1180px;
  margin: auto;
  margin-left: 140px;
}

.plan__item {
  position: relative;
  flex: 0 0 380px;
  box-sizing: border-box;
  height: 401px;
  background: #fbfbfb;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}

.plan__item_image {
  position: absolute;
  left: 137px;
  top: 47px;
  margin-bottom: 25px;
}

.plan__item_link {
  padding-top: 189px;
  font: bold 30px/37px gilroyextrabold, arial, helvetica, sans-serif;
  color: #3030C1;
  text-decoration: none;
  text-align: center;
  display: block;
}

.plan__item_text-one {
  font: bold 20px/25px gilroyextrabold, arial, helvetica, sans-serif;
  color: #3a3a3a;
  text-align: center;
  padding-top: 3px;
  width: 231px;
  display: block;
  padding-left: 73px;
}

.plan__item_text-two {
  font: bold 20px/25px gilroyextrabold, arial, helvetica, sans-serif;
  color: #3a3a3a;
  text-align: center;
  margin-top: 0;
  width: 231px;
  display: block;
  padding-left: 73px;
  padding-top: 13px;
}

.plan__item_text-three {
  font: bold 20px/25px gilroyextrabold, arial, helvetica, sans-serif;
  color: #3a3a3a;
  text-align: center;
  padding-top: 3px;
  width: 249px;
  display: block;
  padding-left: 64px;
}

@media (max-width: 1300px) {

  .main {
    padding: 20px 0 10px 130px;
    background: top 40px right 80px no-repeat url(img/Student.svg);
    background-size: 37%;
  }

  .main__title {
    width: 55%;
  }

  .main__subtitle_one {
    width: 40%;
  }

  .main__subtitle_two {
    width: 38%;
  }
}

@media (max-width: 1200px) {

  .logo {
  	padding: 50px 0 50px 100px;
  	width: 120px;
  }
  
  .main {
    padding: 10px 0 40px 100px;
    background: top 0px right 60px no-repeat url(img/Student.svg);
    background-size: 38%;
  }

  .main__title {
    width: 55%;
    font: bold 35px/45px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main__subtitle_one {
    width: 42%;
    font: bold 25px/35px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main__subtitle_two {
    width: 38%;
    font: 15px/18px gilroylight, arial, helvetica, sans-serif;
  }

  .main__button {
    font: bold 18px/22px montserratblack, arial, helvetica, sans-serif;
  }
}

@media (max-width: 960px) {

  .logo {
  	padding-left: 70px;
  }

  .main {
    padding: 10px 40px 40px 70px;
    background: top 20px right 50px no-repeat url(img/Student.svg);
    background-size: 42%;
  }

  .main__title {
    width: 57%;
    font: bold 28px/38px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main__subtitle_one {
    width: 42%;
    font: bold 22px/32px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main__subtitle_two {
    width: 38%;
    font: 12px/15px gilroylight, arial, helvetica, sans-serif;
  }

  .main__button {
    font: bold 13px/16px montserratblack, arial, helvetica, sans-serif;
    padding: 10px 16px 9px 15px;
  }
}

@media (max-width: 768px) {

   .main {
    padding: 0 20px 550px 70px;
    background: center top 350px no-repeat url(img/Student.svg);
    background-size: 75%;
  }

  .main__title {
    display: none;
  }

  .main__title_mob {
  	width: 80%;
    display: block;
    margin: 0 0 28px 0;
    color: #FFF;
    font: bold 37px/40px gilroyextrabold, arial, helvetica, sans-serif;
  }

   .main__subtitle_one {
  	width: 88%;
    margin: 0 30px 15px 0;
    font: bold 32px/35px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main__subtitle_two {
    width: 90%;
    font: 25px/29px gilroylight, arial, helvetica, sans-serif;
  }

  .main__button {
    display: none;
}

@media (max-width: 545px) {

  .main {
  	padding: 0 0 430px 50px;
  	background-size: 80%;
  }

  .main__title_mob {
    width: 95%;
    margin-bottom: 25px;
    font: bold 34px/36px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main__subtitle_one {
    width: 90%;
    font: bold 28px/32px gilroyextrabold, arial, helvetica, sans-serif;
    margin-bottom: 5px;
  }

  .main__subtitle_two {
    width: 90%;
    font: 20px/26px gilroylight, arial, helvetica, sans-serif;
  }
}

@media (max-width: 400px) {

  .logo {
    width: 93px;
    height: 24px;
    padding: 39px 197px 50px 30px;
}
  
  .main {
    padding: 0 0 380px 30px;
    background: center top 330px no-repeat url(img/Student.svg);
    background-size: 79%;
  }

  .main__title_mob {
    font: bold 25px/31px gilroyextrabold, arial, helvetica, sans-serif;
     margin: 0 0 25px 0;
  }

  .main__subtitle_one {
  	width: 95%;
    margin: 0 0 5px 0;
    font: bold 20px/25px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main__subtitle_two {
  	width: 88%;
    font: 15px/19px gilroylight, arial, helvetica, sans-serif;
  }
}

@media (max-width: 320px) {

  .logo {
  	padding-bottom: 20px;
  }

  .main {
    padding: 0 20px 250px 30px;
    background: center top 245px no-repeat url(img/Student.svg);
    background-size: 81%;
  }

  .main__title_mob {
    margin: 0 0 26px 0;
    font: bold 25px/31px gilroyextrabold, arial, helvetica, sans-serif;
  }

   .main__subtitle_one {
  	width: 88%;
    margin: 0 25px 2px 0;
    font: bold 20px/25px gilroyextrabold, arial, helvetica, sans-serif;
  }

   .main__subtitle_two {
  	width: 88%;
    font: 15px/17px gilroylight, arial, helvetica, sans-serif;
  }
}



